node_modules
lerna-debug.log
npm-debug.log
packages/*/lib
packages/*/dist
packages/*/__tests__
packages/*/yarn.lock
packages/*/node_modules
packages/*/.env
.DS_Store
yarn.lock
packages/.DS_Store
packages/*/.DS_Store
packages/*/yarn-error.log
yarn-error.log